<div class="header-container-epiinfo">
  <h1>
    {{title}}
  </h1>

  <h2>Web Form Builder For Epi Info</h2>

</div>
<div id="surveyContainer">
  <app-survey-editor [json]="json" (surveySaved)="onSurveySaved($event)"></app-survey-editor>
</div>
<input ng-file-select type="file" id="file-input" name="name" style="display: none;"/>
