.header-container-epiinfo {
  max-height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #314056;
  flex-direction: column;
}

.header-container-epiinfo h1{
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;

}
.header-container-epiinfo h2 {
  margin: 0;
  padding: 0;
  color: #DDD;
  font-size: 14px;
  margin-bottom: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
